h1{
    color: #ff0000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 1px -0px 20px #ff0000;
}



.c1{
    font-family: Arial, Helvetica, sans-serif;
    border: #ffffffda 4px solid;
    padding: 10px;
    border-radius: 20px;
}
